/* @import url('https://cdn.syncfusion.com/ej2/material.css');

.above-1000 {
    background-color: #00ff00;
} */

.container2 {
    width: 250px;
    height: 250px;
    background: transparent;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-logo {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #00d8ff;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.react-logo,
.react-logo:before,
.react-logo:after {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid #00d8ff;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nucleo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #00d8ff;
}

.react-logo:before,
.react-logo:after {
    content: "";
}

.react-logo:after {
    transform: rotate(-57deg);
}

.react-logo:before {
    transform: rotate(57deg);
}

.title {
    font-size: 60px;
    background: #222;
    color: #00d8ff;
    width: 250px;
    margin: 2px auto;
    text-align: center;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.modal123 {
    width: 100vw;
    height: 100vh;
    border-radius: 15px;
    padding: 1em;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 1000;
}